* {
box-sizing: border-box;
}

body {
	font-family: 'Roboto Slab', serif;
	max-width: 100%;
	margin: 0 auto;
	color: white;
	background: #d9f9eb;
	}
	
span {
	font-size: 500%;
	display: block;
}

h1 {
	font-size: 300%;
	display: block;
}

img {
	max-width: 50%'
}
